@import 'base/estilosGenerales';
@import 'base/variables';
@import 'components/footer';
@import 'components/main';
@import 'components/header';
@import 'components/index';
@import 'components/servicios';
@import 'components/nosotros';
@import 'components/contacto';
@import 'components/experiencias';
