*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffb84d;
}
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
.favicon{
    width: 120px;
    margin: 10px;
}
header{
    position: sticky;
    top: 0px;
    margin: auto;
    width: 100%;
}
main{
    font-family: 'Kanit', sans-serif;
    margin: 5px;
    padding: 5px;
}
.navBar{
    background-color: #ffcc00;
    border: solid 2px #ff3300;
}
.nav-item{
    display: inline-flex;
    border: solid 3px #ff3300;
    background-color: #ffeb99;
    list-style: none;
    text-align: center;
    padding: 15px 15px 15px 15px;
    margin: 35px;
    font-family: fantasy;
}
.mainIndex{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    align-items: center;
}

.petLodging{
    color: #ff3300;
    font-style: italic;
    text-align: center;
    margin: 20px;
    font-size: 60px;
    font-family: 'Kanit', sans-serif;
}
.presentacion1{
    color: black;
    text-align: center;
    font-size: 30px;
    display:inline-block;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5%;
    
}
.imgHappybeagle{
    width: 100%;
    height: auto;
}
.presentacion2{
    color: black;
    text-align: center;
    font-size: 30px;
    width: 100%;
    display:inline-block;
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.smilydag{
    width: 100%;
    height: auto;
}
.spotify{
    justify-content: center;
    padding: 5%;
    width: 100%;
    grid-column: 1/span 2;
}
.footer{
    background-color:#ffcc00;
    border:solid 2px #ff3300;
    text-align:center;
}
.contactenos{
    width: auto;
    display:inline-flex;
    flex-direction: row;
    padding: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
}
.copyright{
    width: 100%;
    display: flex;
    display: inline-flex;
    font-size: larger;
    padding: 15px;
    align-items: center;
    justify-content:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.copyright img{
width: 50px;
}
.textoServicios{
    color: black;
    text-align: center;
    font-size: 20px;
    width: 100%;
    padding: 100px;
}
.textoNosotros{
    color: black;
    text-align: center;
    font-size: 30px;
    width: 100%;
    padding: 5%;
}
.textoContacto{
    color: black;
    text-align: center;
    font-size: 30px;
    width: 100%;

}
.mapa{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5%;
}
.imgnosotros{
    width: 100%;
    justify-content: center;
    
}
.perro3{
    width: 100%;
    height: auto;
    padding: 10%;
}
.datosContacto{
    list-style: none;
}
.mainExperiencias{
    width: 90%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    margin: 5px;
    padding: 5px;
    justify-content: center;
    font-size: 30px;
    text-align: justify;
}
.perro4{
    width: 90%;
    height: auto;
    padding: 5%;
}
.perro5{
    width: 90%;
    height: auto;
    padding: 5%;
}
.perro6{
    width: 90%;
    height: auto;
    padding: 5%;
}
.mainServicios{
    width: 90%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    margin: 5px;
    padding: 5px;
    font-size: 30px;
}
.cuadroServicios{
    padding: 5px;
    border: solid 3px red;
}
@media only screen and (max-width:450px){
    .mainNosotros{
        font-size: 15px;
        width: 100%;
        padding: 5%;
    }
    .mainServicios{
    width: 50%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    }
}
.mainNosotros{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.animate__animated{
    animation-fill-mode: none;
}