.textoContacto{
    color: black;
    text-align: center;
    font-size: 30px;
    width: 100%;

}
.mapa{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5%;
}
.datosContacto{
    list-style: none;
}