.textoContacto{
    color: nth($list: $colores, $n:4 );
    text-align: center;
    font-size: nth($list: $font-size, $n:3 );
    width: 100%;

}
.mapa{
    width: 100%;
    @extend %flex;
    padding: 5%;
}
.datosContacto{
    list-style: none;
}