header{
    position: sticky;
    top: 0px;
    margin: auto;
    width: 100%;
    .navbar{
        background-color: nth($list: $colores, $n:1 );
        border: solid 2px nth($list: $colores, $n:2 );
        .container-fluid{
            .favicon{
                width: 120px;
                margin: 10px;
            }
            .petLodging{
                color: nth($list: $colores, $n:2 );
                font-style: italic;
                text-align: center;
                margin: 20px;
                font-size: nth($list: $font-size, $n:5 );
                font-family: 'Kanit', sans-serif;
            }
           .navbar-nav{
            .nav-item{
                display: inline-flex;
                border-radius: 5px;	
                border: solid 4px nth($list: $colores, $n:2 );
                background-color: nth($list: $colores, $n:5 );
                list-style: none;
                text-align: center;
                padding: 15px 15px 15px 15px;
                margin: 35px;
                font-family: fantasy;
            }
           } 
        }

    }
}