.presentacion1{
    color: nth($list: $colores, $n:4 );
    text-align: center;
    font-size: nth($list: $font-size, $n:3 );
    display:inline-block;
    @extend %flex;
    flex-direction: row;
    width: 100%;
    padding: 5%;
    
}
.imgHappybeagle{
    width: 100%;
    height: auto;
}
.presentacion2{
    color: nth($list: $colores, $n:4 );
    text-align: center;
    font-size: nth($list: $font-size, $n:3 );
    width: 100%;
    @extend %flex;
    display:inline-block;
    padding: 5%;
    flex-direction: row;
    justify-content: space-between;
}
.smilydag{
    width: 100%;
    height: auto;
}
.spotify{
    justify-content: center;
    padding: 5%;
    width: 100%;
    grid-column: 1/span 2;
}