body{
    background-color: nth($list: $colores, $n:3 );
    main{
        font-family: 'Kanit', sans-serif;
        margin: 5px;
        padding: 5px;
    }
}
.mainIndex{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    align-items: center;
}
.mainExperiencias{
    width: 90%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
    font-style: italic;
    margin: 5px;
    padding: 5px;
    justify-content: center;
    font-size: nth($list: $font-size, $n:3 );
    text-align: justify;
    .textoExperiencias{
        font-style: normal;
        border: solid 3px nth($list: $colores, $n:2 );
        background-color: nth($list: $colores, $n:5 );
        padding: 15px;
    }
}
.mainServicios{
    width: 90%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    margin: 5px;
    padding: 5px;
    font-size: nth($list: $font-size, $n:3 );

    @media only screen and (max-width:450px){
    width: 50%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    margin: 5px;
    padding: 5px;
    font-size: nth($list: $font-size, $n:1 );
    }
}
.mainNosotros{
   @extend %flex;
    flex-wrap: wrap;
    width: 99%;

    @media only screen and (max-width:450px){
        font-size: nth($list: $font-size, $n:1 );
        width: 100%;
        padding: 5%;
    }
}
.animate__animated{
    animation-fill-mode: none;
}