.textoNosotros{
    color: black;
    text-align: center;
    font-size: 30px;
    width: 100%;
    padding: 5%;
}
.imgnosotros{
    width: 100%;
    justify-content: center;
}
.perro3{
    width: 100%;
    height: auto;
    padding: 10%;
}