.textoNosotros{
    color: nth($list: $colores, $n:4 );
    text-align: center;
    font-size: nth($list: $font-size, $n:3 );
    width: 100%;
    padding: 5%;
}
.imgnosotros{
    width: 100%;
    justify-content: center;
}
.perro3{
    width: 100%;
    height: auto;
    padding: 10%;
}