.textoServicios{
    color: black;
    text-align: center;
    font-size: 20px;
    width: 100%;
    padding: 100px;
}
.cuadroServicios{
    padding: 5px;
    border: solid 3px red;
    background-color:#ffeb99;
}