
.textoServicios{
    color: nth($list: $colores, $n:4 );
    text-align: center;
    font-size: nth($list: $font-size, $n:2 );
    width: 100%;
    padding: 100px;
}
.cuadroServicios{
    padding: 5px;
    border: solid 3px nth($list: $colores, $n:2 );
    background-color:nth($list: $colores, $n:5 );
}