
/*ejemplo*%flex{
    display: flex;
    justify-content: center;
    align-items: center;

}
%bordes{
    border: solid 2px red;
    color: azure;
}

.galeria{
    @extend %flex;
    @bordes %bordes;

}